<h2 class="option-title">General Settings</h2>
<section class="option-line">
    <span>Background color:</span>
    <div>
        <kendo-colorpicker [value]="backgroundColor"
            [format]="'hex'"
            [gradientSettings]="{opacity: false}"
            (valueChange)="onBackgroundColorChange($event)">
        </kendo-colorpicker>
        <button kendoButton
            kendoTooltip
            title="Default color"
            iconClass="k-icon k-i-reset-color"
            [position]="getTooltipPosition()"
            (click)="onBackgroundColorReset()">
        </button>
    </div>
</section>
<grid-settings></grid-settings>
<controls-settings></controls-settings>
<renderer-settings></renderer-settings>
<section class="option-line">
    <span>Reset tab settings:</span>
    <button kendoButton
        kendoTooltip
        title="Reset tab settings"
        iconClass="k-icon k-i-reload"
        [position]="getTooltipPosition()"
        (click)="onResetAllSettings()">
    </button>
</section>