<kendo-panelbar (stateChange)="onControlsSettingsExpanded($event)">
    <kendo-panelbar-item title="Controls settings"
        [expanded]="controlsSettingsExpanded">
        <ng-template kendoPanelBarContent>
            <section class="option-line">
                <span>Enable Damping:</span>
                <kendo-switch
                    class="component-switch"
                    [(ngModel)]="enableDamping"
                    (click)="onDumpingEnableChange()">
                </kendo-switch>
            </section>
            <section class="option-line">
                <span>Dumping factor:</span>
                <div>
                    <kendo-numerictextbox class="numerictext-component"
                        [value]="dampingFactor"
                        [min]="0.001"
                        [max]="1"
                        [step]="0.01"
                        [decimals]="3"
                        [format]="'n2'"
                        [autoCorrect]="true"
                        [disabled]="!enableDamping"
                        [(ngModel)]="dampingFactor"
                        (valueChange)="onDampingFactorChange()">
                    </kendo-numerictextbox>
                    <button kendoButton
                        kendoTooltip
                        title="Default factor"
                        [position]="getTooltipPosition()"
                        [disabled]="!enableDamping"
                        [iconClass]="'k-icon k-i-reset-color'"
                        (click)="onDampingFactorReset()">
                    </button>
                </div>
            </section>
            <section class="option-line">
                <span>Camera distance(min/max):</span>
                <div>
                    <kendo-numerictextbox class="numerictext-component"
                        [value]="cameraMinDistance"
                        [min]="0"
                        [max]="50000"
                        [step]="25"
                        [decimals]="0"
                        [format]="'n0'"
                        [autoCorrect]="true"
                        [(ngModel)]="cameraMinDistance"
                        (valueChange)="onCameraMinDistanceChange()">
                    </kendo-numerictextbox>
                    <kendo-numerictextbox class="numerictext-component"
                        [value]="cameraMaxDistance"
                        [min]="1"
                        [max]="50000"
                        [step]="25"
                        [decimals]="0"
                        [format]="'n0'"
                        [autoCorrect]="true"
                        [(ngModel)]="cameraMaxDistance"
                        (valueChange)="onCameraMaxDistanceChange()">
                    </kendo-numerictextbox>
                </div>
            </section>
        </ng-template>
    </kendo-panelbar-item>
</kendo-panelbar>
