<kendo-panelbar (stateChange)="onGridSettingsExpanded($event)">
    <kendo-panelbar-item title="" [expanded]="gridSettingsExpanded">
        <ng-template kendoPanelBarItemTitle>
            <div class="grid-title-wrapper">
                <span class="grid-title">Grid settings</span>
                <kendo-switch class="grid-switch"
                    [(ngModel)]="gridEnable"
                    (click)="onChangeSwitch($event)">
                </kendo-switch>
            </div>
        </ng-template>
        <ng-template kendoPanelBarContent>
            <section class="option-line">
                <span>Grid color:</span>
                <div>
                    <kendo-colorpicker [value]="gridColor"
                        [format]="'hex'"
                        [gradientSettings]="{opacity: false}"
                        (valueChange)="onGridColorChange($event)">
                    </kendo-colorpicker>
                    <button kendoButton
                        kendoTooltip
                        title="Default color"
                        [position]="getTooltipPosition()"
                        (click)="onGridColorReset()"
                        [iconClass]="'k-icon k-i-reset-color'">
                    </button>
                </div>
            </section>
        </ng-template>
    </kendo-panelbar-item>
</kendo-panelbar>
