<kendo-panelbar (stateChange)="onGridSettingsExpanded($event)">
    <kendo-panelbar-item title=""
        [expanded]="gridSettingsExpanded">
        <ng-template kendoPanelBarItemTitle>
            <div class="component-title-wrapper">
                <span class="component-title">Show Grid</span>
                <kendo-switch class="component-switch"
                    [(ngModel)]="gridEnable"
                    (click)="onChangeSwitch($event)">
                </kendo-switch>
            </div>
        </ng-template>
        <ng-template kendoPanelBarContent>
            <section class="option-line">
                <span>Grid options(size/division):</span>
                <div>
                    <kendo-numerictextbox class="numerictext-component"
                        [value]="gridSize?.size"
                        [min]="1"
                        [step]="5"
                        [disabled]="!gridEnable"
                        [decimals]="0"
                        [format]="'n0'"
                        [autoCorrect]="true"
                        [(ngModel)]="gridSize.size"
                        (valueChange)="onGridSizeChange(gridSize)">
                    </kendo-numerictextbox>
                    <kendo-numerictextbox class="numerictext-component"
                        [value]="gridSize?.division"
                        [min]="1"
                        [max]="5000"
                        [step]="1"
                        [disabled]="!gridEnable"
                        [decimals]="0"
                        [format]="'n0'"
                        [autoCorrect]="true"
                        [(ngModel)]="gridSize.division"
                        (valueChange)="onGridSizeChange(gridSize)">
                    </kendo-numerictextbox>
                    <button kendoButton
                        kendoTooltip
                        title="Default size"
                        [disabled]="!gridEnable"
                        [position]="getTooltipPosition()"
                        [iconClass]="'k-icon k-i-reset-color'"
                        (click)="onGridSizeReset()">
                    </button>
                </div>
            </section>
            <section class="option-line">
                <span>Grid color:</span>
                <div>
                    <kendo-colorpicker [value]="gridColor"
                        [format]="'hex'"
                        [disabled]="!gridEnable"
                        [gradientSettings]="{opacity: false}"
                        (valueChange)="onGridColorChange($event)">
                    </kendo-colorpicker>
                    <button kendoButton
                        kendoTooltip
                        title="Default color"
                        [position]="getTooltipPosition()"
                        [disabled]="!gridEnable"
                        (click)="onGridColorReset()"
                        [iconClass]="'k-icon k-i-reset-color'">
                    </button>
                </div>
            </section>
            <section class="option-line">
                <span>Grid opacity:</span>
                <kendo-numerictextbox class="numerictext-component"
                    [value]="gridOpacity"
                    [min]="0.00"
                    [max]="1.00"
                    [step]="0.02"
                    [disabled]="!gridEnable"
                    [autoCorrect]="true"
                    (valueChange)="onOpacityChange($event)">
                </kendo-numerictextbox>
            </section>
        </ng-template>
    </kendo-panelbar-item>
</kendo-panelbar>
