<div *ngIf="selectedOption === 'GlobalSettings'">
    <general-settings></general-settings>
</div>
<div id="Passangers" *ngIf="selectedOption === 'Passangers'">
    <passengers-manager></passengers-manager>
</div>
<div id="ElevatorsManager" *ngIf="selectedOption === 'ElevatorsManager'">
    <elevators-manager></elevators-manager>
</div>
<div id="SmartDumbManager" *ngIf="selectedOption === 'SmartDumbManager'">
    <smart-dumb-manager></smart-dumb-manager>
</div>
<div id="Favourites" *ngIf="selectedOption === 'Favourites'">
    <ul>
        <li>70% Discount!</li>
        <li>90% Discount!</li>
        <li>One time offer!</li>
    </ul>
</div>