<!-- canvas three.js -->
<app-engine></app-engine>

<kendo-drawer-container [ngClass]="{'right-side': panelOnRightSide}">
    <!-- mini buttons of control panel -->
    <kendo-drawer #miniPanel
        [position]="getTooltipPosition()"
        [items]="items"
        [mode]="'push'"
        [mini]="true"
        [autoCollapse]="true"
        (select)="onSelect($event)">
        <ng-template kendoDrawerFooterTemplate>
            <button kendoButton
                kendoTooltip
                title="Reset all settings"
                class="reset-button"
                iconClass="k-icon k-i-reload"
                [position]="getTooltipPosition()"
                (click)="onResetAllSettings()">
            </button>
          </ng-template>
    </kendo-drawer>

    <!-- content of control panel -->
    <kendo-drawer-content *ngIf="contentExpanded">
        <settings-panel [selectedOption]="selectedTab"></settings-panel>
    </kendo-drawer-content>

    <!-- buttons which manage state of control panel -->
    <div kendoTooltip
        class="form-controllers"
        [position]="getTooltipPosition()">
        <button title="Panel side"
            class="k-button"
            (click)="changeContolPanelSide()">
            <span [ngClass]="{'k-flip-h': panelOnRightSide}"
                class="k-icon k-i-indent-increase">
            </span>
        </button>
        <button title="Toggle content"
            class="k-button"
            (click)="onHideContent()">
            <span [ngClass]="{
                'k-flip-h': (contentExpanded && !panelOnRightSide) || (!contentExpanded && panelOnRightSide)}"
                class="k-icon k-i-logout">
            </span>
        </button>
    </div>

    <div [ngClass]="{'opposite-side': panelOnRightSide, 'opposite-side--right-side': !panelOnRightSide }">
        <animation-player></animation-player>
    </div>
</kendo-drawer-container>