<kendo-panelbar (stateChange)="onControlsSettingsExpanded($event)">
    <kendo-panelbar-item title="Controls settings"
        [expanded]="controlsSettingsExpanded">
        <ng-template kendoPanelBarContent>
            <!-- <section class="option-line">
                <span>Enable Damping:</span>
                <kendo-switch
                    class="component-switch"
                    [(ngModel)]="controls.enableDamping"
                    (click)="onDumpingChange()">
                </kendo-switch>
            </section> -->
            <section class="option-line">
                <span>Dumping factor:</span>
                <div>
                    <kendo-numerictextbox class="numerictext-component"
                        [value]="dampingFactor"
                        [min]="0"
                        [step]="0.01"
                        [decimals]="2"
                        [format]="'n2'"
                        [autoCorrect]="true"
                        [(ngModel)]="dampingFactor"
                        (valueChange)="onGridSizeChange()">
                    </kendo-numerictextbox>
                    <!-- <button kendoButton
                        kendoTooltip
                        title="Default factor"
                        [position]="getTooltipPosition()"
                        [disabled]="!controls?.enableDamping"
                        (click)="onDampingFactorReset()"
                        [iconClass]="'k-icon k-i-reset-color'">
                    </button> -->
                </div>
            </section>
        </ng-template>
    </kendo-panelbar-item>
</kendo-panelbar>
