<kendo-panelbar (stateChange)="onWireframesSettingsExpanded($event)">
    <kendo-panelbar-item title=""
        [expanded]="wireframesSettingsExpanded">
        <ng-template kendoPanelBarItemTitle>
            <div class="component-title-wrapper">
                <span class="component-title">Show wireframes</span>
                <kendo-switch class="component-switch"
                    [(ngModel)]="isWireframesShowed"
                    (click)="onShowWireframeChange($event)">
                </kendo-switch>
            </div>
        </ng-template>
        <ng-template kendoPanelBarContent>
            <section class="option-line">
                <span>Wireframes color:</span>
                <div>
                    <kendo-colorpicker [value]="selectedElevator?.wireframes?.color || wireframesColor"
                        [format]="'hex'"
                        [gradientSettings]="{opacity: false}"
                        (valueChange)="onWireframesColorChange($event)">
                    </kendo-colorpicker>
                </div>
            </section>
        </ng-template>
    </kendo-panelbar-item>
</kendo-panelbar>
